/* FONTS */

$lato-r: 'Lato Regular';
$lato-b: 'Lato Bold';
$brandon: 'B G Bold';
$gotham: 'Gotham Black';
$lato-l: 'Lato Light';
$openSans: 'Open Sans';

/* COLORS */

$blue: #709dca;
$orange: #ffbb42;
$white: #ffffff;
$gray: #a9a9a9;
$primary-g: #868686;
$secondary-g: #7b7b7b;
$primary-b: #394b50;