.address {
    &__shape {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $primary-b;
        width: 100%;
        max-width: 285px;
        height: 285px;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #394b50 transparent transparent transparent;
        }
    }

    &__content {
        height: 100%;
        padding: 68px;
    }

    &__title {
        text-align: center;
        font-family: $lato-b;
        font-size: 15px;
        text-transform: uppercase;
        color: $white;
    }

    &__list {
        margin-top: 10px;
    }

    &__item {
        text-align: center;
        color: #aeb7ba;
        font-size: 13px;
        line-height: 24px;

        &:last-child {
            color: $orange;
        }

    }
}