.intro {
    background-color: $blue;
    width: 100%;

    &__title {
        padding-top: 210px;
        margin-bottom: 10px;
        text-align: center;
        color: $white;
        font-size: 35px;
        font-family: $gotham;
        text-transform: uppercase;
        line-height: 24px;
    }

    &__subtitle {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        color: $white;
    }
}