.nav{

    &__link {
        font-size: 14px;
        color: $primary-g;
        text-transform: uppercase;
        padding: 0 10px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            padding: 10px 20px;
            background-color: $orange;
            border-radius: 5px;
        }
    }
}