.news {
    padding-top: 150px;
    &__header {
        margin-bottom: 40px;
    }

    &__form {
        padding-bottom: 53px;
    }

    &__image {
        position: relative;
    }
}

