.price {
    padding-top: 140px;
    padding-bottom: 164px;
    background-color: #e7edf3;
    &__header {
        margin-bottom: 80px;
    }

    &__row {
        display: flex;

    }

    &__card {
        width: 33.333%;
        border: 1px solid #ccd5df;
        background-color: #fff;
        margin: 0 8px;
    }
}